!!! 5
%html(ng-app="redditlulz")
  %head
    %script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.1/angular.min.js')
    %script(src='/app.js')
    %link(rel="stylesheet" type="text/css" href="/style.css")
  %body(ng-controller="Main")
    {{ 1 + 2 }}
    {{ working }}
