*
  margin: 0
  padding: 0
  box-sizing: border-box

@import source/grid
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400)
@import url(http://fonts.googleapis.com/css?family=Lora)

body
  background-color: darken(white,4%)

h1
  @extend .column-full
  position: relative
  &::before
    content: ''
    position: absolute
    top: -2%
    left: -$grid-gutter-width
    height: 102%
    width: 100% + $grid-gutter-width * 2
    z-index: -1
    opacity: 0.7
    background: url(http://farm8.staticflickr.com/7124/7546606258_6c1215a66f.jpg) no-repeat center
    background-size: cover
    -webkit-filter: grayscale(0.4) blur(3px)

  padding: 100px 0
  .breakpoint-phone &
    padding: 20px 0
  span.title
    color: darken(white,90%)
    font-family: "Old Standard TT"
    font-weight: 400
    font-size: 30pt
    text-shadow: 0 1px 0 darken(white, 30%)
    background-color: rgba(white, 0.3)
    line-height: 1.5
    padding: 5px


.breakpoint-phone .comment
  @extend .column-full
.breakpoint-tablet-portrait .comment
  @extend .column-10
  @extend .column-skip-1
.breakpoint-tablet-landscape .comment
  @extend .column-8
  @extend .column-skip-2
.breakpoint-widescreen .comment
  @extend .column-6
  @extend .column-skip-3

.comment
  font: 400 15px/23px "Lora"
  color: lighten(black, 10%)
  text-shadow: 0 1px 0 darken(white,2%)

  p
    margin: 15px 0

  >p:first-of-type
    &:first-letter
      font-size: 100px
      line-height: 90px
      margin: 0 10px 0 0
      float: left

  ol,ul
    width: 90%
    margin-left: 5%
    border-left: 4px solid darken(white, 10%)
    background-color: darken(white, 6%)
    padding: 10px 5%

    list-style: none
    counter-reset: li
    li
      padding-bottom: 10px
      margin-bottom: 10px
      p
        margin: 0
      &::before
        float: left
        counter-increment: li
        font-size: 40px
        line-height: 46px
        width: 40px
        text-align: center
        display: block
  ol li::before
    content: counter(li)
  ul li::before
    content: '\00B7'
